*.iml
.gradle
.DS_Store
.externalNativeBuild
.cxx

/captures
/local.properties

.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

build/
/build
/buildSrc/gradle/wrapper/gradle-wrapper.jar
/buildSrc/gradle/wrapper/gradle-wrapper.properties
/buildSrc/gradlew
/buildSrc/gradlew.bat
/buildSrc/local.properties